/*.chatBox {
  height: 400px;
  background: pink;
}*/
.myBtn {
  margin-top: 10px;
  margin-right: 15px;
  float: right;
}
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background-color:tomato;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
}
footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: cadetblue;
}
.info-div {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 90px;
}
